body {
.font();
  min-width: @min-width;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  margin-bottom: 20px;
}

.link--with-gradient {
  .f-transition-base();
  display: inline-block;
  padding: 10px;
  border-radius: 16px;
  color: @white;
  font-size: @font-size-base;
  font-weight: 700;
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  background-size: 200% auto;

  &:hover {
    background-position: right center;
  }
}