  body {
    font: 400 14px/21px "PT Sans", Arial, sans-serif;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
    margin: 0;
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  .wrapper {
    position: relative;
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
 
  }
/* Подключение иконочного шрифта */
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

  /*======================================
   Главная страница
  =======================================*/

  .main-header {
    margin-bottom: 58px;
  }
.index-main-navigation {
    margin-bottom: 78px;
}
  .main-navigation {
    position: relative;
    background-color: #fff;
  }
  .main-navigation ul {
    margin: 0;
    padding: 0;
    font-size: 0;
  }
  .main-navigation li {
    display: inline-block;
    width: 20%;
    padding: 14px 0;
    vertical-align: top;
    text-align: center;
  }
  .main-navigation li:nth-child(2) {
    margin-right: 20%;
  }
.main-navigation a {
    font: 700 14px/26px "PT Sans", Arial, sans-serif;
    color: #000;
    text-decoration: none;
}
.main-navigation a:hover {
    color: #81b3d2;
}
.main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}
.main-navigation .nav-link-active {
    color: #766357;
}
 .main-navigation .nav-link-active:hover {
    color: #604e43;
}
.main-navigation .nav-link-active:active {
    color: rgba(118, 99, 87, 0.3)
}
  .index-logo {
    width: 138px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }
  .logo-link {
    display: block;
    width: 138px;
    height: 70px;
  }
  .main-header {
    background-image: url("../img/bg-white-mask.png"), 
                      url("../img/bg-index.jpg");
    background-color: #A3CCDA;
    background-repeat: no-repeat, 
                       no-repeat;
    background-position: center bottom,
                         0 0;
    background-size: contain, 100% 100%;
  }
.welcome {
    padding-bottom: 80px;
}
  .logo-welcome {
    width: 458px;
    height: 352px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .reasons-header {
    margin-bottom: 51px;
  }
  .reasons-header h2 {
    width: 460px;
    margin: 0 auto;
    margin-bottom: 28px;
    font: 700 21px/26px "PT Sans", Arial, sans-serif;
    color: #000;
    text-align: center;
  }
  .reasons-header p {
    margin: 0 auto;
    font: inherit;
    line-height: 26px;
    text-align: center;
  }
  .reason-row-first {
    margin-bottom: 60px;
  }
  .reason {
    width: calc(100% * 400 / 1200);
      min-height: 256px;
    box-sizing: border-box;
    text-align: center;
  }
  .reason h3 {
    font: 700 21px/21px "PT Sans", Arial, sans-serif;
    color: #000;
  }
.reason p,
.reason div,
.reason h3 {
    margin: 0 auto;
}
 .img-real-city, .img-bridge {
    width: calc(100% * 800 / 1200);
    height: 256px;
    margin: 0;
  }
  .reason-image {
    width: 100%;
    height: 256px;
  }
  .img-real-city {
    float: right;
  }
  .img-bridge {
    float: left;
  }
  .reason-blue {
    float: left;
    padding: 48px calc(100% * 55 / 1200) 30px calc(100% * 60 / 1200);
    background-color: #81b3d2;
    color: #fff;
  }
  .reason-blue h3 {
    width: 130px;
    margin-bottom: 25px;
    color: #fff;
  }
  .reason-blue div {
    margin-bottom: 25px;
  }
  .reason-blue p {
   min-width: 190px;
  }
.header-about-bridge {
    min-width: 151px;
}
  .reason-icon {
    float: left;
    position: relative;
    padding-top: 100px;
    padding-left: calc(100% * 48 / 768);
    padding-right: calc(100% * 45 / 768);
  }
.reason-icon:nth-child(2) {
    padding-left: calc(100% * 30 / 768);
    padding-right: calc(100% * 30 / 768);
}
.reason-icon:nth-child(3) {
    padding-left: calc(100% * 40 / 768);
    padding-right: calc(100% * 40 / 768);
}
.reason-icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
}
.reason-icon-home::before {
    background-position: 0 -98px; 
    width: 75px;
    height: 72px;
}
.reason-icon-food::before {
    background-position: 0 -180px;
    width: 74px; 
    height: 70px;
}
.reason-icon-souvenir::before {
    background-position: 0 -260px; 
    width: 64px; 
    height: 76px;
}
  .reason-icon h3 {
    margin-bottom: 23px;
  }
  .reason-row-second {
    margin-bottom: 14px;
  }
  .reason-gray {
    float: left;
    padding-top: 45px;
    padding-bottom: calc(100% * 60 / 1200);
    background-color: #eeeeee;
  }
  .reason-gray h3 {
    width: 130px;
    margin-bottom: 25px;
  }
  .reason-gray div {
    margin-bottom: 21px;
  }
.reason-gray p {
    min-width: 180px;
}
.reason-gray-first {
    padding-left: calc(100% * 64 / 1200);
    padding-right: calc(100% * 66 / 1200);
}
.reason-gray-second {
     padding-left: calc(100% * 61 / 1200);
    padding-right: calc(100% * 65 / 1200);
}
.reason-gray-third {
     padding-left: calc(100% * 65 / 1200);
    padding-right: calc(100% * 65 / 1200);
}
  .main-content {
    margin-bottom: 50px;
  }
.index-search {
    position: relative;
}
  .index-search h2 {
    margin: 0;
    margin-bottom: 23px;
    font: 700 30px/35px "PT Sans", Arial, sans-serif;
    color: #000;
    text-align: center;
  }
  .index-search p {
    width: 398px;
    margin: 0 auto;
    margin-bottom: 47px;
    line-height: 24px;
    text-align: center;
  }
  .search-title-link {
    display: block;
    margin: 0 auto;
    width: 527px;
    padding: 30px 21px 33px;
    font: 700 21px/26px "PT Sans", Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    background-color: #766357;
    color: #fff;
  }
  .search-form {
    display: none;
    position: absolute;
    top: 242px;
    left: 50%;
    margin-left: -284px;
    width: 569px;
    padding: 57px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  }
.search-form-show {
    display: block;
    animation: show 1s forwards;
}
@keyframes show {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }       
}
@keyframes shake {
  0%, 100% {
    transform: translate(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translate(10px);
  }
}
.search-form-error {
 animation: shake 0.6s;
}
  .search-form input {
    border: none;
    background-color: #f2f2f2;
  }
  .search-form .datein, 
  .search-form .dateout {
    float: right;
    width: 330px;
    padding: 4px 0 7px 15px;
    border: 2px solid #f2f2f2;
    outline: none;
  }
.datein:hover,
.dateout:hover {
    background-color: #ebebeb;
}
.datein:focus,
.dateout:focus {
    background-color: #fff;
}
  .search-form label {
    display: block;
    float: left;
    max-width: 105px;
    margin-right: 5px;
    font: 700 14px/26px "PT Sans", Arial, sans-serif;
    line-height: 37px;
    text-align: left;
    color: #000;
  }
  .block-datein, .block-dateout {
    position: relative;
    margin-bottom: 31px;
  }
 .datein::-webkit-input-placeholder,
.dateout::-webkit-input-placeholder {
 color: #000;
 opacity: 1;
}
.datein::-moz-placeholder,
.dateout::-moz-placeholder{
    color: #000;
    opacity: 1;
}
.datein:-moz-placeholder,
.dateout:-moz-placeholder{
    color: #000;
    opacity: 1;
}
.datein:-ms-input-placeholder,
.dateout:-ms-input-placeholder {
    color: #000;
    opacity: 1;
}
.icon-calendar {
    position: absolute;
    top: 50%;
    right: -10px;
    font-size: 21px;
    line-height: 37px;
    transform: translate(-50%, -50%);
    color: #c2c2c2;
}
.icon-calendar:hover {
    color: #000;
}
.icon-calendar:active {
    color: #81b3d2;
}
  .half-width {
    width: 50%;
    margin-bottom: 50px;
    font-size: 0;
  }
  .half-width-left {
    float: left;
    text-align: right;
  }
  .half-width-right {
    float: right;
    box-sizing: border-box;
    padding-left: 50px;
    text-align: right;
  }
  .number {
    display: inline-block;
    width: 116px;
    vertical-align: middle;
    font-size: 0;
    text-align: center;
    background-color: #f2f2f2;
  }
.datein,
.dateout,
.numberpeople,
.numberchild,
.minus, 
.plus {
    font: 700 14px/26px "PT Sans", Arial, sans-serif;
    color: #000;
    text-transform: uppercase;
}
.numberpeople,
.numberchild {
    padding: 0 0;
    text-align: center;
}
  .minus, .plus {
    border: none;
  }
.icon-minus,
.icon-plus {
    line-height: 37px;
    background-color: #f2f2f2;
    color: #a9a9a9;
}
.icon-plus {
    right: 0;
}
.icon-minus {
    left: 20px;
}
.icon-plus:hover,
.icon-minus:hover {
    color: #000;
}
.icon-minus:active,
.icon-plus:active {
    color: #81b3d2;
}
  .btn-search {
    width: 100%;
    padding: 17px 0;
    border: none;
    font: 700 21px/26px "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #81b3d2;
  }
.btn-search:hover {
    background-color: #669ec0;
}
.btn-search:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}
.search-map {
    background-image: url("../img/map.jpg");
    background-color: #BAE1C6;
    height: 593px;
    width: 100%;
    overflow: hidden;
}
  .main-footer, .catalog-footer {
    padding: 35px calc(100% * 100 / 1200);
    background-color: #fff;
  }
.main-footer {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 35px calc(100% * 100 / 1200);
}
  .hashtag, .footer-social, .footer-copyright {
    width: calc(100% / 3);
    float: left;
  }
.footer-copyright {
    float: right;
}
  .hashtag {
    font: 700 21px/26px "PT Sans", Arial, sans-serif;
    line-height: 50px;
    text-align: left;
    color: #000;
  }
  .footer-social {
    text-align: center;
  }
.social-btn {
    display: inline-block;
    width: 50px;
    line-height: 50px;
    font-size: 23px;
    background-color: #81b3d2;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.social-btn:hover {
    background-color: #669ec0;
}
.social-btn:active {
    background-color: #5496bd;
}
.social-btn:active {
    color: rgba(255, 255, 255, 0.3);
}
  .footer-copyright {
    text-align: right;
    font-size: 0;
  }
  .copyright-link {
    background: url("../img/sprite.png") no-repeat 0 -346px;
    display: inline-block;
    vertical-align: middle;
    width: 113px;
    height: 50px;
  }
.copyright-link:hover {
    background: url("../img/sprite.png") no-repeat 0 0;
}
.copyright-link:active {
    background: url("../img/sprite.png") no-repeat 0 -49px;
}
  .footer-copyright span {
    display: inline-block;
    margin-right: 5px;
    font: inherit;
    font-size: 14px;
    line-height: 50px;
    color: #000;
  }
  /*======================================
   Страница каталога
  =======================================*/

.catalog-header {
    margin-bottom: 30px;
    background: #6d8298 url("../img/bg-filter.jpg") no-repeat center top;
    background-size: cover;
}
  .filter-form {
    padding: 26px calc(100% * 70 / 1200) 30px;
      
  }
  .catalog-filter label, .catalog-filter fieldset, .catalog-filter legend {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
  }
  .filter-environment label,
  .filter-home label {
    margin-bottom: 25px;
    font: inherit;
    color: #fff;
    text-align: left;
  }
  .filter-environment label:last-child,
.filter-home label:last-child {
    margin-bottom: 0;
  }
  .catalog-filter legend {
    margin-bottom: 26px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
  }
  .catalog-filter .filter-environment {
    float: left;
    max-width: 34.5%;
    padding-right: 12%;
    box-sizing: border-box;
  }
  .catalog-filter .filter-home {
/*    width: 44.5%;*/
    width: 32.5%;
    float: left;
  }
.catalog-filter input[type="checkbox"] {
    display: none;
}
 input[type="checkbox"] + label {
     position: relative;
     padding-left: 40px;
}
input[type="checkbox"] + label::before {
    position: absolute;
    content: "\2610";
    font-size: 26px;
    color: #fff;
    top: 0;
    left: 0;
    font-family: "symbols-sedona";
}
input[type="checkbox"]:checked + label::before {
    content: "\2611";
}
input[type="checkbox"]:hover + label::before {
    color: #fff;
}
input[type="checkbox"]:disabled + label::before {
    color: #6a6a6a;
}

/* Сложный фильтр с ползунками*/

  .catalog-filter .filter-price {
    width: 31%;
    float: right;
    margin-bottom: 32px;
    text-align: center;
  }
.filter-price legend {
    text-align: left;
    margin-bottom: 10px;
}
 .price-controls {
    position: relative;
    width: calc(100% * 320 / 329);
    height: 32px;
    margin-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 0;
}
.price-controls label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font: inherit;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
}
.filter-price .min-price,
.filter-price .max-price{
    padding-left: calc(100% * 45 / 320);
    width: calc(100% * 100 / 320);
}
.price-controls input {
    width: calc(100% * 50 / 90);
    margin: 0;
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font: 400 14px/21px "PT Sans", Arial, sans-serif;
}
.price-controls::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #fff;
    transform: translate(-50%, -50%);
}
.range-controls {
    position: relative;
}
.scale {
    height: 2px;
    background: rgba(204, 204, 204, 0.3);
}
.bar {
    height: 2px;
    width: 80%;
    background: #fff;
}
.range-toggle {
    position: absolute;
    width: 4px;
    height: 4px;
    top: -9px;
    background: #cccccc;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 2px 0 rgba(0, 1, 1, 0.14);
    cursor: pointer;
}
.range-toggle-min {
    left: 0;
}
.range-toggle-max {
    left: 80%;
}
.range-toggle:hover {
    background: #1c4f80;
}
  .btn-filter {
    float: right;
    margin-right: calc(100% * 180 / 1200);
    transform: translateX(50%);
    padding: 6px 33px;
    border: 2px solid #fff;
    background: transparent;
    font: inherit;
    text-transform: uppercase;
    color: #fff;
  }
.btn-filter:hover {
    background-color: #fff;
    color: #000;
}
.sort {
    padding-left: calc(100% * 68 / 1200);
    padding-right: calc(100% * 75 / 1200);
    margin-bottom: 29px;
}
  .sort-select {
    margin: 0;
    padding: 0;
  }
  .sort-filter {
    float: left;
    width: 600px;
  }
  .sort-filter div, .sort-select, .sort-select li {
    display: inline-block;
    vertical-align: middle;
  }
  .result-search {
    margin-right: 43px;
    font: 700 21px/26px "PT Sans", Arial, sans-serif;
  }
.sort-filter-label {
    font: 400 12px/18px "PT Sans", Arial, sans-serif;
    color: #000;
}
  .sort-select-label {
    margin-left: 32px;
  }
  .sort-select-label:first-child {
    margin-left: 36px;
  }
.filter-link {
    text-decoration: none;
    border-bottom: 2px dotted #81b3d2;
    font: 400 12px/18px "PT Sans", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.3);
}
.filter-link:hover {
    color: #81b3d2;
}
.filter-link:active {
    color: #000;
}
.filter-link-active {
    color: #81b3d2;
    border-bottom: none;
}
  .sort-arrow {
    float: right;
    width: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
  }
.sort-arrow li {
    display: inline-block;
    font-size: 23px;
    vertical-align: middle;
}
.arrow-link {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    width: 23px;
    color: #cccccc;
}
.arrow-link-active {
    color: #81b3d2;
}
.arrow-link:hover {
    color: #000;
}
.arrow-link-active:hover {
    color: #81b3d2;
}
.arrow-link:active {
    color: #81b3d2;
}
.catalog-list {
    border-bottom: 1px solid #e5e5e5;
    width: auto;
}
  .catalog-item {
    padding: 28px 0;
    border-top: 1px solid #e5e5e5;
  }
  .item-image {
    float: left;
    width: 135px;
    height: 93px;
    margin: 0;
    padding-right: 30px;
    padding-left: calc(100% * 70 / 1200);
  }
  .item-about {
    float: left;
    width: 370px;
  }
  .item-rate {
    float: right;
    max-width: 180px;
    padding-right: calc(100% * 75 / 1200);
  }
.star {
    margin-bottom: 43px;
    font-size: 0;
    text-align: right;  
}
.icon-star {
    vertical-align: middle;
    color: #81b3d2;
    font-size: 18px;
}
.icon-star:last-child::before {
    margin-right: 0;
}
.rate {
    line-height: 25px;
    padding: 2px 15px;
    background-color: #f2f2f2;
}
  .item-title {
    margin: 0;
    margin-bottom: 5px;
  }
.item-title-link:hover {
    color: #81b3d2;
}
.item-title-link:active {
    color: rgba(0, 0, 0, 0.3);
}
.item-title-link {
    font: 700 21px/26px "PT Sans", Arial, sans-serif;
    color: #000;
    text-decoration: none;
}
  .more {
    float: left;
    width: 110px;
    margin-right: 10px;
  }
  .order {
    float: left;
    width: 143px;
  }
.more-link,
.order-link{ 
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    font: inherit;
    color: #fff;
}
.more-link {
    background-color: #81b3d2;
}
.more-link:hover{
    background-color: #669ec0;
}
.more-link:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}
.order-link {
    background-color: #766357;
}
.order-link:hover {
    background-color: #604e43;
}
.order-link:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}
  .more div, .order div {
    margin-bottom: 12px;
  }