$fsize-body-mobile: 15px;
$color-body: #444444;
$white: #fff;
$fsize-title-mobile: 27px;
$color-title: #010000;
$color-form: #f1f1f1;
$fsize-subtitle-mobile: 25px;
$color-subtitle: #010000;
$fsize-btn-mobile: 18px;
$color-btn: #444444;
$tablet-widths: "(min-width: 768px)";
$mobile-widths-only: "(max-width: 767px)";
$desktop-widths: "(min-width: 1150px)";
$fsize-title-tablet: 43px;
$fsize-title-desktop: 53px;
