.catalog-product {
  margin-bottom: 26px;
}

.catalog-product__wrapper {
  @include container;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}

@media #{$tablet-widths} {

  .catalog-product {
    margin-bottom: 18px;
  }

  .catalog-product__wrapper {
    box-sizing: content-box;
    padding-left: 50px;
    padding-right: 50px;
  }

}

@media #{$desktop-widths} {

  .catalog-product {
    margin-bottom: 52px;
  }

  .catalog-product__wrapper {
    display: flex;
    justify-content: space-between;
  }

}
